aiofiles==0.4.0
bootstrap4==0.1.0
Click==7.0
gunicorn==19.9.0
h11==0.8.1
httptools==0.0.13
Jinja2==2.10.1
MarkupSafe==1.1.1
meld3==1.0.2
mypy==0.761
mypy-extensions==0.4.3
pkg-resources==0.0.0
py-mini-racer==0.1.18
pycrypto==2.6.1
python-multipart==0.0.5
redis==3.3.7
six==1.12.0
sqreen==1.15.1
starlette==0.11.4
supervisor==4.0.2
typed-ast==1.4.0
typesystem==0.2.2
typing-extensions==3.7.4.1
uvicorn==0.7.1
uvloop==0.12.2
websockets==7.0
