<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="description" content="">
	<meta name="author" content="">

	<title>PIN Block | TA</title>
</head>

<body>

	<main role="main" class="container">
		<div class="booking-form">
			<h4>Calculate PIN block</h4>
			<form method="POST">
				{{ form }}
				<div class="submit-controls">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</main>
</body>

</html>