{%extends "base.html" %}
{% block title %}Pin Block Service
{%endblock%}

{%block content %}
<main role="main" class="container">
<h3>About TA</h3>
<p class="lead">
	TA is an online PIN block calculation service. It uses DES encryption as it is the only supported
	 encryption algorithm used by EBS. You can hack into the code and add other encryption methods if you would like, it is so simple. <a href="github.com/adonese/ta">Start Now!</a>
</p>
	
<hr>
		<div class="booking-form">
			<h4>Calculate PIN block</h4>
			<form method="POST">
				{{ form }}
				<div class="submit-controls">
					<button type="submit" class="btn btn-primary">Submit</button>
				</div>
			</form>
		</div>
	</main>
{%endblock%}

</br></br>

{%block footer %} {{super()}}{%endblock%}
